main {
  min-height: 70vh;
  border: 5px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.donut {
  width: 200px;
  height: 600px;
  border: 2px solid black;
  }
