:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.console-field {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px;
  font-size: 2rem;
  line-height: 10px;
}

h2 {
    text-align: center;
}
